@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header */

nav {
display: flex;
justify-content: space-around;
align-items: center;
padding: 0.3em;
border-bottom: solid 1px #e2e2e2;
}
.left_nav{
  display: flex;
  align-items: center;
}
.left_nav ul li {
  float: left;
  list-style: none;
  padding: 0 0.8em 0 0.8em;
}
.nav_icons {
  height: 16px;
  width: 16px;
}
.logo svg {
  height: 1.6em;
}
.left_nav a {
  text-decoration: none;
  font-weight: bolder;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12px;
  color: black;
}
header button {
  background-color: rgb(85, 121, 147);
  color: white;
  font-weight: bold;
  font-size: smaller;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 0.1em;
  border: solid rgb(85, 121, 147);
}

/* Main */
main{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.banner img {
  width: 63%;
}
.banner h1 {
  font-family: Georgia;
  font-size: xx-large;
  font-style: italic;
  width: 30%;
  line-height: 1.3em;
  font-weight: bold;
  margin: 2em 0 1em 0;
}
.banner p {
  width: 63%;
  color: #666;
}
.banner p span {
  color: #888;
}

/* article */
.article {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 63%;
}

.article_columns {
  padding: 1em;
  margin: 2em;
  width: 50%;
}
.article aside {
width: 20%;
font-family: sans-serif;
font-weight: bold;
}
.article_columns a {
  color: #326891;
  text-decoration: underline;
  cursor: pointer;
}
.article_info{
  flex-direction: row;
  justify-content: space-between;
}
.date_n_social {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1em;
}

.date {
  font-size: 16px;
}

.article_info a {
  color: black;
  text-decoration-color: #e2e2e2;
}

.author {
  font-weight: bolder;
  font-family: sans-serif;
}

.article_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.25rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.article_content p {
  line-height: 1.5em;
  margin: 0.5em 0 0.5em 0;
}

.article_content h3 {
  font-weight: bolder;
}

.adds {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto ;
  width: 100%;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: small;
}

.adds a {
  text-decoration: none;
}

.adds hr {
  width: 15%;
  margin: 18px auto 18px auto ;
}

.article hr {
  border-bottom: 1px solid #f5f5f5;
}
.ep_item {
  display: flex;
  font-weight: lighter;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
.ep_item img {
  width: 75px;
  height: 75px;
  padding-right: 0.6em;
}